<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/stylesheets/app.css" />
    <script src="/static/jquery-1.11.2.min.js"></script>
    <script src="/static/bower_components/modernizr/modernizr.js"></script>
    <style type="text/css">
        .container {width:100%;max-width:600px;margin:50px auto;}
        .tabs {width: 262px;margin:0 auto;}
        .tabs .tab-title {border-top: 4px solid #EFEFEF;border-bottom: 4px solid #008CBA;margin-bottom:-4px !important;}
        .tab-title.active {border: 4px solid #008CBA;border-bottom-color: #fff;}
        .tabs-container {border-bottom: 4px solid #008CBA;}
        label {font-size: 1rem;margin-top: 20px;}
        .dont-panic {margin: 0;}
        .item {margin-bottom: 0.25rem;}
        select {width:42px;margin: 0;height: 2.1rem;}
        .item p {display: inline-block;margin: 0;padding-left: 10px;}
        #select-label {margin: 0;font-size: 0.8rem;}
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                var sleeping, showering, grooming, peeing, cooking, eating, driving, walking, biking, riding, chatting, emailing, texting, calling, gaming, socialmedia, browsing, reading, meetings, working, inclass, tv, household, exercising, hobby, totalTime, extraTime;
                
                $.get('/api/v1/average-day/test test test', function(resp) {
                    sleeping = resp.sleeping;
                    showering = resp.showering;
                    grooming = resp.grooming;
                    peeing = resp.peeing;
                    cooking = resp.cooking;
                    eating = resp.eating;
                    driving = resp.driving;
                    walking = resp.walking;
                    biking = resp.biking;
                    riding = resp.riding;
                    chatting = resp.chatting;
                    emailing = resp.emailing;
                    texting = resp.texting;
                    calling = resp.calling;
                    gaming = resp.gaming;
                    socialmedia = resp.socialmedia;
                    browsing = resp.browsing;
                    reading = resp.reading;
                    meetings = resp.meetings;
                    working = resp.working;
                    inclass = resp.inclass;
                    tv = resp.tv;
                    household = resp.household;
                    exercising = resp.exercising;
                    hobby = resp.hobby;
                    totalTime = resp.totalTime;
                    extraTime = resp.extraTime;
                });
                console.log(sleeping);
                console.log(chatting);
                var data = google.visualization.arrayToDataTable([
                        ['Activity', 'Minutes per Day'],
                        ['Sleeping', sleeping],
                        ['Showering', showering],
                        ['Grooming', grooming],
                        ['Restroom-ing', peeing],
                        ['Cooking', cooking],
                        ['Eating', eating],
                        ['Driving', driving],
                        ['Walking', walking],
                        ['Biking', biking],
                        ['Riding', riding],
                        ['Chatting', chatting],
                        ['Emailing', emailing],
                        ['Texting', texting],
                        ['Calling', calling],
                        ['Gaming', gaming],
                        ['Social Media', socialmedia],
                        ['Web Browsing', browsing],
                        ['Reading', reading],
                        ['In Meetings', meetings],
                        ['Working', working],
                        ['In Classes', inclass],
                        ['Watching TV', tv],
                        ['Household Chores', household],
                        ['Exercising', exercising],
                        ['Hobby-ing', hobby],
                        ['EXTRA TIME!', extraTime]
                ]);
                var options = {};
                var chart = new google.visualization.PieChart(document.getElementById('free-sample'));
                chart.draw(data, options);
            };
    </script>
</head>
<body>
    <div class="container">
        <h1 class="text-center">{{ title }}</h1>
        <h3 class="text-center js-header">Have you been through here once before?</h3>
        
        <div class="first-shown">
            <div class="tabs-container">
                <ul class="tabs" data-tab>
                    <li class="tab-title active"><a href="#nope">Nah man</a></li>
                    <li class="tab-title"><a href="#yup">Oh yeah</a></li>
                </ul>
            </div>

            <div class="tabs-content">
                <div class="content active" id="nope">
                    <h3 class="text-center">Then let's create a visual representation of your average day through quantitative data!</h3>
                    <label>But first let's get one bit of qualitative data:
                    <input type="text" placeholder="Your Name" id="username"/></label>
                    <h4>Now let's get some numbers:</h4>
                    <p class="dont-panic">Don't worry about being exact. By all means, <strong>just guess.</strong> Approximations are fine.</p>
                    <h3>On an average day, how much time do spend...</h3>
                    <p id="select-label">Hours | Minutes</p>
                    <div class="item"><select id="sleeping-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="sleeping-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Sleeping?</p></div>
                    <div class="item"><select id="showering-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="showering-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Showering?</p></div>
                    <div class="item"><select id="grooming-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="grooming-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>General hygiene-ing? (Grooming?) (brushing teeth, hair, cats, etc.)</p></div>
                    <div class="item"><select id="peeing-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="peeing-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Utilizing the restroom?</p></div>
                    <div class="item"><select id="cooking-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="cooking-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Cooking?</p></div>
                    <div class="item"><select id="eating-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="eating-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Eating? (breakfast, snack, lunch, snack, dinner, snack, and snacks)</p></div>
                    <div class="item"><select id="driving-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="driving-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Driving? (stoplights? yeah, I'm not a fan either..)</p></div>
                    <div class="item"><select id="walking-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="walking-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Walking?</p></div>
                    <div class="item"><select id="biking-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="biking-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Biking?</p></div>
                    <div class="item"><select id="riding-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="riding-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Riding public transportation?</p></div>
                    <div class="item"><select id="chatting-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="chatting-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Chatting with peeps in person? (socializing)</p></div>
                    <div class="item"><select id="emailing-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="emailing-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Emailing?</p></div>
                    <div class="item"><select id="texting-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="texting-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Texting?</p></div>
                    <div class="item"><select id="calling-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="calling-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>In phone calls?</p></div>
                    <div class="item"><select id="gaming-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="gaming-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Playing games?</p></div>
                    <div class="item"><select id="socialmedia-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="socialmedia-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Social media-ing? (InstaTwitFace stuff)</p></div>
                    <div class="item"><select id="browsing-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="browsing-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>General web browsing? (reddit, YouTube, image boards)</p></div>
                    <div class="item"><select id="reading-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="reading-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Reading? (if you want, this can be "offline reading")</p></div>
                    <div class="item"><select id="meetings-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="meetings-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>In meetings?</p></div>
                    <div class="item"><select id="working-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="working-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Actually working?</p></div>
                    <div class="item"><select id="inclass-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="inclass-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Being attentive in class? (legit listening to them lechures)</p></div>
                    <div class="item"><select id="tv-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="tv-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Watching TV? (or movies or Netflix or whatever)</p></div>
                    <div class="item"><select id="household-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="household-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Doing household chores/cleaning?</p></div>
                    <div class="item"><select id="exercising-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="exercising-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Exercising/sports-ing?</p></div>
                    <div class="item"><select id="hobby-hr"><option>0</option><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option></select><select id="hobby-min"><option>0</option><option>5</option><option>10</option><option>15</option><option>20</option><option>25</option><option>30</option><option>35</option><option>40</option><option>45</option><option>50</option><option>55</option></select><p>Doing favorite hobbies/activities?</p></div>

                    <div class="errors">
                        <h3>Wait a second there bub!</h3>
                        <p>Ya gotta go back and double check this stuff:</p>
                        <ul class="fix-me">
                        </ul>
                    </div>

                    <button class="js-submit-day right">Submit</button>
                </div>

                <div class="content" id="yup">
                    <h3 class="text-center">That makes you way cooler!</h3>
                    <h4 class="oops">Oops! Try again there pal.</h4>
                    <label>Just re-enter your name and let's get cookin':</label>
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input type="text" placeholder="Your Name" id="login">
                        </div>
                        <div class="small-2 columns">
                            <button class="button postfix js-sign-in">Let's go!</button>
                        </div>
                    </div>
                </div>
            </div><!-- tab content -->
        </div><!-- first shown -->

        <div class="second-shown">
            <div id="piechart" style="width: 600px; height: 500px;"></div>
        </div>
        <div class="example">
            <h4>Here's an example fellas</h4>
            <div id="free-sample" style="width: 600px; height: 500px;"></div>
        </div>
    </div>

    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/foundation/js/foundation.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $(document).foundation();
            $('.second-shown').hide();
            $('.errors').hide();
            $('.oops').hide();



            $('.js-sign-in').click(function() {
                var login = $("#login").val();
                if (login != "") {
                    $.get('/api/v1/average-day/' + login, function(resp) {
                        if (resp != null) {
                            $('.first-shown').hide();
                            $('.second-shown').show();
                            
                            $('.js-header').text(resp.username + "\'s Average Day");
                            
                            
                            var newData = google.visualization.arrayToDataTable([
                                ['Activity', 'Minutes per Day'],
                                ['Sleeping', resp.sleeping],
                                ['Showering', resp.showering],
                                ['Grooming', resp.grooming],
                                ['Restroom-ing', resp.peeing],
                                ['Cooking', resp.cooking],
                                ['Eating', resp.eating],
                                ['Driving', resp.driving],
                                ['Walking', resp.walking],
                                ['Biking', resp.biking],
                                ['Riding', resp.riding],
                                ['Chatting', resp.chatting],
                                ['Emailing', resp.emailing],
                                ['Texting', resp.texting],
                                ['Calling', resp.calling],
                                ['Gaming', resp.gaming],
                                ['Social Media', resp.socialmedia],
                                ['Web Browsing', resp.browsing],
                                ['Reading', resp.reading],
                                ['In Meetings', resp.meetings],
                                ['Working', resp.working],
                                ['In Classes', resp.inclass],
                                ['Watching TV', resp.tv],
                                ['Household Chores', resp.household],
                                ['Exercising', resp.exercising],
                                ['Hobby-ing', resp.hobby],
                                ['EXTRA TIME!', resp.extraTime]
                            ]);
                            var newOptions = {};
                            var newChart = new google.visualization.PieChart(document.getElementById('piechart'));
                            newChart.draw(newData, newOptions);
                        } else {
                            $('.oops').show();
                        }
                    });
                } else {
                    $('.oops').show();
                }
            });

            $('.js-submit-day').click(function() {
                var username = $('#username').val();
                var sleeping = (parseInt($('#sleeping-hr').val()) * 60) + parseInt($('#sleeping-min').val());
                var showering = (parseInt($('#showering-hr').val()) * 60) + parseInt($('#showering-min').val());
                var grooming = (parseInt($('#grooming-hr').val()) * 60) + parseInt($('#grooming-min').val());
                var peeing = (parseInt($('#peeing-hr').val()) * 60) + parseInt($('#peeing-min').val());
                var cooking = (parseInt($('#cooking-hr').val()) * 60) + parseInt($('#cooking-min').val());
                var eating = (parseInt($('#eating-hr').val()) * 60) + parseInt($('#eating-min').val());
                var driving = (parseInt($('#driving-hr').val()) * 60) + parseInt($('#driving-min').val());
                var walking = (parseInt($('#walking-hr').val()) * 60) + parseInt($('#walking-min').val());
                var biking = (parseInt($('#biking-hr').val()) * 60) + parseInt($('#biking-min').val());
                var riding = (parseInt($('#riding-hr').val()) * 60) + parseInt($('#riding-min').val());
                var chatting = (parseInt($('#chatting-hr').val()) * 60) + parseInt($('#chatting-min').val());
                var emailing = (parseInt($('#emailing-hr').val()) * 60) + parseInt($('#emailing-min').val());
                var texting = (parseInt($('#texting-hr').val()) * 60) + parseInt($('#texting-min').val());
                var calling = (parseInt($('#calling-hr').val()) * 60) + parseInt($('#calling-min').val());
                var gaming = (parseInt($('#gaming-hr').val()) * 60) + parseInt($('#gaming-min').val());
                var socialmedia = (parseInt($('#socialmedia-hr').val()) * 60) + parseInt($('#socialmedia-min').val());
                var browsing = (parseInt($('#browsing-hr').val()) * 60) + parseInt($('#browsing-min').val());
                var reading = (parseInt($('#reading-hr').val()) * 60) + parseInt($('#reading-min').val());
                var meetings = (parseInt($('#meetings-hr').val()) * 60) + parseInt($('#meetings-min').val());
                var working = (parseInt($('#working-hr').val()) * 60) + parseInt($('#working-min').val());
                var inclass = (parseInt($('#inclass-hr').val()) * 60) + parseInt($('#inclass-min').val());
                var tv = (parseInt($('#tv-hr').val()) * 60) + parseInt($('#tv-min').val());
                var household = (parseInt($('#household-hr').val()) * 60) + parseInt($('#household-min').val());
                var exercising = (parseInt($('#exercising-hr').val()) * 60) + parseInt($('#exercising-min').val());
                var hobby = (parseInt($('#hobby-hr').val()) * 60) + parseInt($('#hobby-min').val());
                var totalTime = sleeping + showering + grooming + peeing + cooking + eating + driving + walking + biking + riding + chatting + emailing + texting + calling + gaming + socialmedia + browsing + reading + meetings + working + inclass + tv + household + exercising + hobby;
                var extraTime = (24*60) - totalTime; // 1440
        
                if ((username != "") && (totalTime < (24*60))) {
                    /*
                    $.ajax({
                        type: 'POST',
                        url: '/api/v1/average-day',
                        data: {
                                username: username,
                                sleeping: sleeping,
                                showering: showering,
                                grooming: grooming,
                                peeing: peeing,
                                cooking: cooking,
                                eating: eating,
                                driving: driving,
                                walking: walking,
                                biking: biking,
                                riding: riding,
                                chatting: chatting,
                                emailing: emailing,
                                texting: texting,
                                calling: calling,
                                gaming: gaming,
                                socialmedia: socialmedia,
                                browsing: browsing,
                                reading: reading,
                                meetings: meetings,
                                working: working,
                                inclass: inclass,
                                tv: tv,
                                household: household,
                                exercising: exercising,
                                hobby: hobby,
                                extra: extraTime
                        },
                        dataType: 'json',
                        success: function(resp) {
                            console.log("that json done been posted! like: " + resp.username);
                        },
                    });
                    */
                    $('.first-shown').hide();
                    $('.second-shown').show();
                    $('.js-header').text(username + '\'s Average Day');
                    /*
                    google.load("visualization", "1", {packages:["corechart"]});
                    google.setOnLoadCallback(drawChart);
                    function drawChart() {
                        var data = google.visualization.arrayToDataTable([
                            ['Activity', 'Minutes per Day'],
                            ['Sleeping', sleeping],
                            ['Showering', showering],
                            ['Grooming', grooming],
                            ['Restroom-ing', peeing],
                            ['Cooking', cooking],
                            ['Eating', eating],
                            ['Driving', driving],
                            ['Walking', walking],
                            ['Biking', biking],
                            ['Riding', riding],
                            ['Chatting', chatting],
                            ['Emailing', emailing],
                            ['Texting', texting],
                            ['Calling', calling],
                            ['Gaming', gaming],
                            ['Social Media', socialmedia],
                            ['Web Browsing', browsing],
                            ['Reading', reading],
                            ['In Meetings', meetings],
                            ['Working', working],
                            ['In Classes', inclass],
                            ['Watching TV', tv],
                            ['Household Chores', household],
                            ['Exercising', exercising],
                            ['Hobby-ing', hobby],
                            ['EXTRA TIME!', extraTime]
                        ]);
                        var options = {};
                        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                        chart.draw(data, options);

                    };*/
                } else {
                    $('.errors').show();
                    if (username == "") {
                        $('.fix-me').append($('<li />').text("Add your name at the top, silly."));
                    }
                    if (totalTime > (24*60)) {
                        $('.fix-me').append($('<li />').text("You have more than 24 hours of time here, ya goof."));
                    }
                }
            });
        });
    </script>
</body>
</html>